@import 'https://use.fontawesome.com/releases/v5.7.0/css/all.css';

.mt-115 {
	margin-top: 115px;
}
.mt-200 {
	margin-top: 200px;
}
.st0 {
	fill: #ea0027;
	width: 50px;
	height: 50px;
}
.st1 {
	fill: #ffffff;
}
.navbar-brand {
	width: 50px;
}
.brand_logo_container > svg {
	width: 100px;
}
.add::before {
	margin-right: 5px;
	content: url('./add.svg');
	float: left;
	width: 1em;
}
.remove::before {
	margin-right: 5px;
	content: url('./remove.svg');
	float: left;
	width: 1em;
}
.active {
	background-color: #343a40;
	border-radius: 5px;
	color: #fff !important;
	font-weight: 500;
}

/* Login */
.user_card {
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #ffc107;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.brand_logo_container {
	position: absolute;
	height: 150px;
	width: 150px;
	top: -125px;
	border-radius: 50%;
	padding: 25px;
	text-align: center;
}

.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	margin: 2px;
}
.input-group-text {
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.userState {
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffc107;
	position: absolute;
	z-index: 99999;
	border-radius: 5px;
	padding: 10px;
	min-width: 50%;
	margin-left: 25%;
	text-align: center;
	opacity: 0;
	margin-top: 50px;
}
.userStateAnim {
	animation-name: userState;
	animation-duration: 2s;
	animation-direction: alternate;
}
@keyframes userState {
	0% {
		opacity: 0;
		margin-top: 50px;
	}
	50% {
		opacity: 1;
		margin-top: 0px;
	}
	90% {
		opacity: 1;
		margin-top: 0px;
	}
	100% {
		opacity: 0;
		margin-top: -50px;
	}
}
.share {
	position: fixed;
	z-index: 9999;
	left: -220px;
	background-color: dimgrey;
	border-radius: 0 20px 20px 0;
	padding: 10px;
	width: 300px;
}
.share:hover {
	transform: translatex(220px);
	transition: transform 0.2s ease-out;
}

.imgLoaded {
	animation: loaded 1.5s ease-in-out;
}
@keyframes loaded {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
